<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.miaosha.dao.OrderDOMapper">
    <resultMap id="BaseResultMap" type="com.cat.miaosha.entity.OrderDO">

        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="item_id" jdbcType="BIGINT" property="itemId"/>
        <result column="promo_id" jdbcType="BIGINT" property="promoId"/>
        <result column="item_price" jdbcType="DOUBLE" property="itemPrice"/>
        <result column="amount" jdbcType="BIGINT" property="amount"/>
        <result column="order_price" jdbcType="DOUBLE" property="orderPrice"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">

        id
        , user_id, item_id, promo_id,item_price, amount, order_price, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from order_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectOrderStatusById" resultType="java.lang.Integer">

        select status
        from order_info
        where id = #{id,jdbcType=VARCHAR}

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">

        delete
        from order_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.cat.miaosha.entity.OrderDO">

        insert into order_info (id, user_id, item_id, order_id,
                                item_price, amount, order_price, status)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, ,
                #{promoId,jdbcType=BIGINT},
                #{itemPrice,jdbcType=DOUBLE}, #{amount,jdbcType=BIGINT}, #{orderPrice,jdbcType=DOUBLE},
                #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.cat.miaosha.entity.OrderDO">

        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="itemId != null">
                item_id,
            </if>
            <if test="promoId != null">
                promo_id,
            </if>
            <if test="itemPrice != null">
                item_price,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="itemId != null">
                #{itemId,jdbcType=BIGINT},
            </if>
            <if test="promoId != null">
                #{promoId,jdbcType=BIGINT},
            </if>
            <if test="itemPrice != null">
                #{itemPrice,jdbcType=DOUBLE},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=BIGINT},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cat.miaosha.entity.OrderDO">

        update order_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="itemId != null">
                item_id = #{itemId,jdbcType=BIGINT},
            </if>
            <if test="itemPrice != null">
                item_price = #{itemPrice,jdbcType=DOUBLE},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=BIGINT},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cat.miaosha.entity.OrderDO">
        update order_info
        set user_id     = #{userId,jdbcType=BIGINT},
            item_id     = #{itemId,jdbcType=BIGINT},
            item_price  = #{itemPrice,jdbcType=DOUBLE},
            amount      = #{amount,jdbcType=BIGINT},
            order_price = #{orderPrice,jdbcType=DOUBLE} status = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>